
header {
    background-color: #444;
    color: white;
    padding: 10px 0;
    text-align: center;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
}

.hamburger-icon {
    display: none; 
    cursor: pointer;
    font-size: 24px; 
}


.mobile-menu {
    display: none;
    position: absolute; 
    top: 100%; 
    left: 0;
    width: 100%;
    background-color: #333; 
}

.mobile-menu a {
    display: block;
    padding: 10px;
    text-align: center;
}

@media (max-width: 768px) { 
  nav a {
    display: none; 
  }

  .hamburger-icon { 
    display: block; 
  }

  .mobile-menu.open { 
    display: block;
  }
}