.bold {
    font-style: bold !important; 
} 

.notfound {
    color: red !important; 
    font-size: xx-large !important; 
    text-align: center !important;
}

a {
    color: blue !important;
    text-align: center !important;
}

p {
    font-size: xx-large !important;
}